.homeMain{
    width: 100%;
    display: flex;
    background: #F8F8F8;
}
.menu{
    width: 112px;
    background: #6E3559;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.menu img{
    width: 31px;
    height: 31px;
    margin-top: 40px;
}
.main{
    width: calc(100% - 112px);
    height: 100%;
    overflow: hidden;
   
}
.navMain{
    height: 97px;
    width: 100%;
    background: rgba(255, 255, 255, 0.69);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 111px;
    height: 76px;
}
.user{
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 50px;
}
.user h1{
    font-weight: 700;
color: #6E3559;
font-size: 20px;
margin-right: 20px;
}
.user img{
 
width: 43px;
height: 43px;
}
.mainContent{
    width: 98%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.entryTable{
    width: 100%;
    min-height: 430px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 20px;
    padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.calculationBOx{
    min-height: 430px;
    width: 34%;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}
.entryTable h1{
    color: #6E3559;
font-size: 20px;
margin-bottom: 39px;
font-weight: 700;
}
.row{
    height: 60px;
    border: 1px solid red;
    width: 100%;
    margin-top: 10px;
}
.inputBox{
    width: 24%;
    background: #FFF9F9;
    text-align: left;
    height: 49px;
}
.inputBoxTwo{
    width: 14%;
    background: #FFF9F9;
    text-align: left;
    height: 49px;
    
}
.enetry{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    margin-top: 20px;
}
.enetryTwooo{
    width: 100%;
    display: flex;
    justify-content: start  ;
    align-items: center;
    margin-top: 20px;
}
.plusIcon{
    height: 30px;
    width: 30px;  
    cursor: pointer;  
    
}
.desableFirst{
    height: 49px;
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: left;
    width: 24%;
    background: rgba(182, 79, 141, 0.25);
}
.desableFirst p{
    color: black;
    margin-top: -29px;
}
.desableFirst h1{
    margin-left: 10px;
}
.desableSecond{
    height: 49px;
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: left;
    width: 24%;
    background: rgba(182, 79, 141, 0.25);
    margin-top: 22px;
}
.desableSecond p{
    color: black;
    margin-top: -25px;
}
.desableSecond h1{
    margin-left: 10px;
}
.addButton{
    margin: 30px auto;
    width: 221px;
height: 50px;
border-radius: 10px;
background: #6E3559;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
font-size: 20px;
border: none;
font-weight: 700;
cursor: pointer;
}
.nameSection{
    width: 100%;
    height: 80px;
    display: flex;
   justify-content: space-between;
}
.propertyName{
    width: 25%;
}
.calculationBOx h1{
    color: #6E3559;
font-size: 20px;
margin-bottom: 39px;
font-weight: 700;
text-align: left;
}
.resultBox{
    width: 100%;
    display: flex;
    
}
.tableContent{
    width: 98%;
    margin: 20px auto;
    height: 70vh;
   
    
}

.tableHead{
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    height: 100px;
    background: #6E3559;
    display: flex;
    justify-content: end;
    align-items: center;

}
.searchBar{
    width: 394px;
height: 57px;
border-radius: 40px;
border: 1px solid #6E3559;
background: #FFF;
display: flex;
align-items: center;
overflow: hidden;
margin-right: 20px;
}
.searchINput{
    width: 75%;
    height: 100%;
    padding-left: 20px;
    font-size: 16px;
    border: none;
}
.searchINput:focus{
    border: none;
}
.searchBar img{
    height: 32px;
    width: 32px;
    margin: 0px auto;
    cursor: pointer;
}
.tableBody{
    width: 100%;
    height: 60vh;
    overflow-x: scroll;
}
.tableContentArea {
    display: flex;
    width: 100%;
    height: 50px;
    background: #6E3559;
}
.headings {
    width: 200px;
    display: flex;
    font-size: 11px;
    align-items: center;
    color: white;
    border-right: 1px solid white;
    justify-content: center;
    padding: 10px;
}
.tableBodyContent {
    height: 50vh;
    width: 100%;
}
.tableBodyContent{
    background: rgba(182, 79, 141, 0.25);

}
.tableIndi {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.tableIndi:nth-child(2n+1){
    background: rgba(182, 79, 141, 0.35);
}
.content{
    width: 200px;
    height: 30px;
    color: black;
    font: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dashed white;
}
.contentINput {
    width: 200px;
    
    height: 30px;
    background: transparent;
    text-align: center;    border: none;
}
.addBedRoomButton{
    height: 59px;
    width: 160px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    border:1px solid #6E3559;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    
}
.addBedRoomButton p{
    color: #6E3559;
    font-weight: 700;
    margin-left: 5px;
}
.textField{
    width: 100%;
    height: 30px !important;
    border: none;
    padding: 0px !important;
}
@media (max-width: 1366px) {
    .desableFirst p {
        color: black;
        margin-top: -19px;
        font-size: 11px;
    }
    .desableSecond p {
        color: black;
        margin-top: -25px;
        font-size: 11px;
    }
  }
